@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://cdn.fontawesome.com/FAPS-PMPK-EAEP-JPPC-5636/all.css";

// Colours
// --------------------------------------
$white: #fff;
$primaryBlue: #003DAF;
$darkBlue: #00266D;
$darkBlue2: #002b7c;
$lightBlue: #E0F1FF;
$dark: #1E1E1E;
$aqua: #76d4d6;

//$darkGrey: #333333;

$lightGray: #f5f5f5;
$lightGray2: #E1E1E1;
$lightGray3: #D9D9D9;
$lightGray4:#AEAEAE;
$lightGray5: #1E1E1E;

$gray: #CCC;
$gray2: #F0F3F7;
$gray3: #E4E4E4;
$gray4: #3E3E3E;
$lightGrey: #ebebeb;
$lightGrey2: #FFFCF7;
$lightGrey3: #FFF2F1;
$darkGrey: #525252;
$darkGrey2: #767676;
$darkGrey3: #7f7f7f;
$darkGrey4: #342600;

$yellow: #ffeead;
$yellow2: #fff4db;
$yellow3: #F1B434;
$yellow4: #ba8009;
$darkYellow: #ffb80f;
$darkYellow2: #EBA91E;
$blue: #d9f0ff;
$blue2: #0099ff;
$gray5: #bababa;
$green: #93c393;
$green2: #d9f3e6;
$green3: #008932;
$darkGreen: #00b055;
$lightGreen: #ECFAF1;
$beige: #c4a166;
$orange: #fca369;
$purple: #cc99cc;
$red: #fe1a0e;
$red2: #E12B25;
$lightRed: #ffdddb;
// --------------------------------------


// Typography
// --------------------------------------
$primaryFont: 'Montserrat', sans-serif;